/* NProgress Custom Styles for Falcon Platform */

#nprogress {
    pointer-events: none;

    .bar {
        background: linear-gradient(90deg, #4f85a6 0%, #3f3c40 100%);
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        box-shadow: 0 0 10px rgba(79, 133, 166, 0.5);
    }

    /* Fancy blur effect */
    .peg {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #4f85a6, 0 0 5px #4f85a6;
        opacity: 1;
        transform: rotate(3deg) translate(0px, -4px);
    }

    /* Remove spinner if accidentally enabled */
    .spinner {
        display: none !important;
    }

    /* Prevent pointer events during loading */
    .spinner-icon {
        display: none;
    }
}
