.button {
    @apply px-6 py-2 transition;

    &.fullWidth {
        @apply w-full;
    }

    &.rounded {
        @apply rounded-lg;
    }

    &.primary {
        color: var(--primary-text-color);
        background-color: var(--primary-bg-color);

        &:hover {
            color: var(--primary-hover-text-color);
            background-color: var(--primary-hover-bg-color);
        }
    }

    &.secondary {
        color: var(--secondary-text-color);
        background-color: var(--secondary-bg-color);

        border: 1px solid var(--secondary-border-color);

        &:hover {
            color: var(--secondary-hover-text-color);
            background-color: var(--secondary-hover-bg-color);
            border-color: var(--secondary-hover-border-color);
        }
    }
}