.dropdownWrapper {
    display: flex;
    flex-direction: column;

    &.grow {
        flex: 1;
    }

    &.disabled {
        filter: opacity(0.38);
        cursor: default;

        button {
            cursor: default;
        }

        .label,
        .subLabel {
            color: transparent !important;
        }
    }

    .dropdownLabel {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        vertical-align: middle;
        color: #45474a;
    }

    .customSelect {
        position: relative;

        //text-overflow: ellipsis;
        //white-space: nowrap;

        button {
            width: 100%;
            height: 50px;
            background-color: #fff;

            border-radius: 4px;
            border: 1px solid #E9EDEE;
            padding: 6px;
            text-align: left;

            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            display: flex;
            justify-content: space-between;
            align-items: center;

            &:focus {
                @apply ring-2 ring-[#4F85A6] outline-[#4F85A6];
            }
        }

        .labelContainer {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .arrowDown {
            svg {
                width: 24px;
                height: auto;
                fill: #45474a;
                transition: all ease-in-out 200ms;
            }

            &.open svg {
                transform: rotateX(180deg);
            }
        }

        .label {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
            vertical-align: middle;
            color: #0f1c2a;

            svg {
                width: 24px !important;
                height: auto !important;
                fill: #45474a !important;
                color: #45474a !important;
            }

            input {
                flex: 1;
                width: 100%;
                height: 100%;
                text-overflow: ellipsis;
                border: none !important;
                outline: none !important;

                &:focus {
                    border: none !important;
                    outline: none !important;
                }
            }
        }

        .subLabel {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #45474a;
        }

        ul {
            position: absolute;
            z-index: 10;
            margin-top: 4px;
            width: 100%;
            background-color: #fff;
            border: 1px solid #ccc;
            list-style: none;
            margin: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0;
            box-shadow: 0px 2px 6px 2px #00000026;

            box-shadow: 0px 1px 2px 0px #0000004d;

            overflow-y: auto;
            scrollbar-width: 4px;
            scrollbar-color: #73777f;

            li {
                display: flex;

                &.dividerContainer {
                    width: 100%;
                    align-items: center;
                    padding-top: 8px;
                    padding-bottom: 8px !important;
                    padding-left: 0 !important;
                    padding-right: 0;

                    .divider {
                        width: 100%;
                        height: 1px;
                        background-color: #c2c7cf;
                    }
                }

                &.option {
                    align-items: center;
                    gap: 12px;
                    padding-left: 8px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    padding-right: 0;

                    cursor: pointer;

                    &:hover {
                        background-color: #d6e4f7;
                    }
                }
            }
        }
    }
}