@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;


  /* Cores primarias */

  --primary-text-color: #FFF;
  --primary-bg-color: #4F85A6;
  /*--secondary-border-color: #FFF;*/
  --primary-hover-text-color: #FFF;
  --primary-hover-bg-color: #3C6B88;
  --primary-title-text-color: #4F85A0;
  


  /* Cores secundarias */

  --secondary-text-color: #FFF;
  --secondary-bg-color: #4F85A6;
  --secondary-border-color: #FFF;
  --secondary-hover-text-color: #4F85A6;
  --secondary-hover-bg-color: #FFF;
  --secondary-hover-border-color: #FFF;
  
  
  --link-color: #4F85A6;

}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format('ttf');
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", Arial;
  font-display: swap;
  display: flex;
  flex-direction: column;
}


#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

html, body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


#__next, main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
