@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  .animate-shimmer {
    animation: shimmer 1.5s ease-in-out infinite;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Cores de texto e bordas globais */
  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;
  --color-border: #e5e7eb;
  --color-border-focus: #4F85A6;

  /* Cores primarias */

  --primary-text-color: #FFF;
  --primary-bg-color: #4F85A6;
  /*--secondary-border-color: #FFF;*/
  --primary-hover-text-color: #FFF;
  --primary-hover-bg-color: #3C6B88;
  --primary-title-text-color: #4F85A0;
  


  /* Cores secundarias */

  --secondary-text-color: #FFF;
  --secondary-bg-color: #4F85A6;
  --secondary-border-color: #FFF;
  --secondary-hover-text-color: #4F85A6;
  --secondary-hover-bg-color: #FFF;
  --secondary-hover-border-color: #FFF;


  --success-text-color: #FFF;
  --success-bg-color: rgb(22 163 74);
  --success-border-color: rgb(22 163 74);
  --success-hover-text-color: #FFF;
  --success-hover-bg-color: rgb(21 128 61);
  --success-hover-border-color: rgb(21 128 61);

  --light-success-text-color: rgb(22 163 74);
  --light-success-bg-color: transparent;
  --light-success-border-color: rgb(187 247 208);
  --light-success-hover-text-color: rgb(22 163 74);
  --light-success-hover-bg-color: rgb(240 253 244);
  --light-success-hover-border-color: rgb(134 239 172);

  --destructive-text-color: #FFF;
  --destructive-bg-color: rgb(239 68 68);
  --destructive-border-color: rgb(239 68 68);
  --destructive-hover-text-color: #FFF;
  --destructive-hover-bg-color: rgb(220 38 38);
  --destructive-hover-border-color: rgb(220 38 38);

  --outline-text-color: #4F85A6;
  --outline-bg-color: transparent;
  --outline-border-color: #4F85A6;
  --outline-hover-text-color: #FFF;
  --outline-hover-bg-color: #3C6B88;
  --outline-hover-border-color: #3C6B88;

  --link-color: #4F85A6;

}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format('ttf');
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", Arial;
  font-display: swap;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}


#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

html, body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


#__next, main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
